.main{
    display:flex;
    width:100%;
    border:2px solid #a0a0a0;
    max-width: 320px;
}
.middle{
    width: 100%;
}
.button{
    padding-left: 50px;
    
}
.arrow{
    background-color: rgb(225, 225, 225);
    margin-right:30px;
    width: 20px;
    border-radius: 2px;
    font-size: 15px;
}
.c1{
    
   width:100%;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    
}
.c1>p{
   font-size: 20px;
}
.c1>p>a{
    padding-left: 150px;
}
.c1>a{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.c2{
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid gray;
    font-family: Arial,  sans-serif;
}
.img1{
    width: 220px;
    height: 32px;
    display: flex;
}
.g{
   
    border-radius: 30px;
    margin-left: 20px;
    border: 1px solid black;
    margin-top: 5px;
}
.m{
    font-size: 25px;
    margin-left: 200px;
}
.name{
    width: 220px;
    height: 30px;
    padding-left: 18px;
  
}
.regi{
    
    padding-left: 20px;

}
.regi>a{
    
    margin-left: 60px;
}
.c3{
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid gray;
    font-family: Arial,  sans-serif;
}
.c4{
   
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid gray;
    font-family: Arial,  sans-serif;
}
.c5{
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid gray;
    font-family: Arial,  sans-serif;
}
.c6{
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid gray;
    font-family: Arial,  sans-serif;
}
.c7{
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid gray;
    font-family: Arial,  sans-serif;
}
.c8{
    margin: 10px;
    border-radius: 20px 20px 0 0;
    background-color: white;
    border: 1px solid gray;
    font-family: Arial,  sans-serif;
}